@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TRIP_ADVISOR</h1>
        <p class="lead">
            Une plateforme moderne et intuitive qui offre aux utilisateurs une expérience immersive pour explorer, comparer et réserver des biens immobiliers. Inspirée par les fonctionnalités et la convivialité de TripAdvisor, cette solution aide les clients à trouver leur prochain logement idéal ou opportunité immobilière.
        </p>
    </section>

    <div class="row">
       
    </div>
</main>